* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(160deg,orange,gold);

}

.container {
    width: 65%;
    height: 80%;
}


.heading {
    font-size: 3rem;
    color: lightseagreen;
    font-family: sans-serif;
    text-align: center;
    margin: 10px;

}

.img {
    width: 100%;
    height: 40%;
    background: #000;

    border-radius: 8px;
}

.img img {
    width: 100%;
    height: 100%;
}

.btn-container {
    width: 100%;
    height: 50%;

    background: lightgoldenrodyellow;
}

.btn {
    background: lightgray;
    width: 33.2%;
    height: 15%;
    color: blueviolet;
    text-align: center;
    border: 1px solid lightblue;
    float: left;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    background: rgba(187, 187, 187, 0.966);

}

.btn-container .btn-active {
    background: white;
}


.content {
    font-size: 1.1rem;
    font-family: serif;
    color: gray;
    line-height: 1.1;
    padding: 8px;
    display: none;

}
.content ul li{
    list-style:circle;
    margin-left: 15px;
}
.content ol li{
    margin-left: 15px;
}

.content h1 {
    color: aqua;
    font-size: 1.8rem;
    font-family: sans-serif;
    padding: 8px 0px;
}

.active {
    display: block;
}














@media (min-width:300px) and (max-width: 600px) {
    html{
        font-size:10px;

    }
 
    

 

}
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media (max-width:768px) and (min-width:600px) {
        html{
            font-size: 12px;
        }
      
       
       
    
    
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media(max-width:992px) and (min-width:768px){
        html{
            font-size: 14px;
        }
       
    
    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) and (max-width:1200px){
        html{
            font-size: 16px;

            
        }
       
       
       
       
    
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
   
    }